<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fonekart</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet"   />



    <style>
        body {
            /* background-image: url(/images/gray-scale-shot-black-watch.jpg); */
            color: #000000;

        }



        h2 {
            color: #007bff;
        }

        form {
            margin-bottom: 30px;
        }

        label {
            font-weight: bold;
        }

        select,
        .form-control {
            border: 1px solid #ced4da;
            border-radius: 4px;
            padding: 10px;
            margin-bottom: 15px;
        }

        button.btn-primary {
            background-color: #007bff;
            border: none;
        }

        .list-group {
            margin-top: 20px;
        }

        .list-group-item {
            background-color: #f8f9fa;
        }

        .btn-link {
            color: #007bff;
        }

        /* Custom styles for the card type section */
        #cardTypeSection {
            margin-top: 20px;
        }

        #cardTypeSection label {
            margin-right: 10px;
        }

        /* Custom styles for the order summary section */
        .order-summary {
            margin-top: 20px;
        }

        .order-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        .order-item img {
            max-width: 50px;
            max-height: 50px;
            margin-right: 10px;
        }

        #cpn:hover {
            border-radius: 10px;
            border: #000000 2px solid;
        }

        #cpnbtn:hover {
            border-radius: 10px;
        }

        #placeOrderBtn:hover {
            background-color: #5eff00;
            color: #000000;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* Close button styles */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top p-3 ">
        <a style="color: #0F0;" class="navbar-brand" href="/login"><b><em>Fonekart</em></b></a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" navbar-collapse" id="navbarNav" style="visibility: visible; justify-content: end;">
            <ul class="navbar-nav ml-auto" class="navv">

                <li class="nav-item">
                    <a style="color: white;" class="nav-link" href=" /home"> <i class="ri-home-8-line"></i></a>
                </li>
                <li class="nav-item">
                    <a style="color: white;" class="nav-link" href="/cart"><i class="ri-shopping-cart-line"></i></a>
                </li>
                <li class="nav-item">
                    <a style="color: white;" class="nav-link" href="/wishlist"><i class="ri-heart-line"></i></a>
                </li>
                <li class="nav-item">
                    <a style="color: white;" class="nav-link" href="/home/profile"><i
                            class="ri-account-circle-line"></i></a>
                </li>

            </ul>

        </div>
    </nav>


    <div class="container-fluid" style="background-color: rgb(255, 255, 255);  margin-top: 70px;">
        <dv class="row">
            <div class="col-lg-8 col-12 " style=" margin-top: 20px; border: #000000 1px solid;">
                <h3
                    style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: rgb(0, 0, 0);">
                    Products</h3>
                <h6
                    style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgb(255, 145, 0);">
                    " You have selected <span><b>
                            <%= Checkout.length %>
                        </b></span> Products "</h6>
                <% if(typeof Checkout !=='undefined' ) { %>
                    <% for(let i=0; i < Checkout.length; i++) { %>
                        <div class="order-summary">
                            <div class="order-item pb-1"
                                style="border: 1px rgb(0, 0, 0) solid; color: rgb(0, 0, 0); padding: 5px; height: 80px;">
                                <img src="<%= Checkout[i].productDetails[0].images[0] %>" alt="Product 1">
                                <span>
                                    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                        <%= Checkout[i].productDetails[0].Pname %>
                                    </p>
                                </span>
                                <span>
                                    <p>
                                        <%= Checkout[i].cartItems.quantity %>
                                    </p>
                                </span>
                                <% let totalPrice=Checkout[i].productDetails[0].price * Checkout[i].cartItems.quantity
                                    %>
                                    <% if (Checkout[i].offerDetails && Checkout[i].offerDetails[0]) { %>
                                        <% let discountPrice=totalPrice * (Checkout[i].offerDetails[0].discount / 100)
                                            %>
                                            <% totalPrice -=discountPrice %>
                                                <% } %>
                                                    <span class="badge" style="color: rgb(0, 0, 0);">
                                                        <p>₹ <%= totalPrice.toFixed(2) %>
                                                        </p>
                                                    </span>
                            </div>
                        </div>
                        <% } %>
                            <% } %>


            </div>

            <div id="orderDetails" class="col-lg-4  col-12 mt-4  ">
                <% let Subtotal=0 %>
                    <% if (Checkout && Checkout.length> 0) { %>
                        <div
                            style="background-color: rgb(255, 255, 255); border-radius: 1px; border: 1px #000000 solid; padding: 10px; text-align: center; justify-content: end;">
                            <% Subtotal=Checkout.reduce((total, item)=> {
                                return total + (item.productDetails[0].price * item.cartItems.quantity)
                                }, 0) %>
                                <% let Discount=0 %>
                                    <% Checkout.forEach(item=> {
                                        if (item.offerDetails && item.offerDetails[0]) {
                                        Discount += (item.productDetails[0].price * item.cartItems.quantity *
                                        item.offerDetails[0].discount / 100)
                                        }
                                        }) %>
                                        <div class="order-item">
                                            <strong>
                                                <p
                                                    style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                                    Total:</p>
                                            </strong>
                                            <span class="badge">
                                                <p>₹ <%= Subtotal.toFixed(2) %>
                                                </p>
                                            </span>
                                        </div>
                                        <div class="order-item">
                                            <strong>
                                                <p
                                                    style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                                    Discount:</p>
                                            </strong>
                                            <span class="badge">
                                                <p>₹ <%= Discount.toFixed(2) %>
                                                </p>
                                            </span>
                                        </div>
                                        <div class="order-item">
                                            <strong>
                                                <p
                                                    style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                                    Shipping cost:</p>
                                            </strong>
                                            <span class="badge " style="color: green;">
                                                <p>Free</p>
                                            </span>
                                        </div>
                                        <div class="order-item">
                                            <h4>
                                                <p
                                                    style="color: red; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                                    Total :</p>
                                            </h4>
                                            <span class="badge ">
                                                <h5 class="justify-content-end">
                                                    <% if (typeof totalUsingCoupon !=='undefined' ) { %>
                                                        <p
                                                            style="color: red; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                                            ₹ <%= totalUsingCoupon %>
                                                        </p>
                                                        <% } else { %>
                                                            <p
                                                                style="color: red; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                                                ₹ <%= Math.floor((Subtotal - Discount).toFixed(2)) %>
                                                            </p>
                                                            <% } %>
                                                </h5>
                                            </span>
                                        </div>
                                        <div class="pt-4"
                                            style="border: 1px #ffffff31 solid; padding: 10px; text-align: center; justify-content: end;">
                                            <h5
                                                style="color: #000000; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                                Apply the Coupon</h5>
                                            <button id="openModalBtn" class="bg-warning mb-2">Available Coupons</button>

                                            <div id="myModal" class="modal">
                                                <!-- Modal content -->
                                                <div class="modal-content">
                                                    <span class="close">&times;</span>
                                                    <div class="table-responsive">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <!-- <th>No</th> -->
                                                                    <th>Coupon code</th>
                                                                    <th>Discount</th>
                                                                    <th>Maximum Price</th>
                                                                    <th>Expiry Date</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% for (let i=0; i < coupons.length; i++) { %>
                                                                    <tr>
                                                                        <!-- <td><%#= 1 %></td> -->
                                                                        <td>
                                                                            <%= coupons[i].Code %>
                                                                        </td>
                                                                        <td>
                                                                            <%= coupons[i].Discount %>%
                                                                        </td>
                                                                        <td>₹<%= coupons[i].MaxPrice %>
                                                                        </td>
                                                                        <td>
                                                                            <% const expiryDate=new
                                                                                Date(coupons[i].expiryDate); const
                                                                                today=new Date(); if (expiryDate <
                                                                                today) { %>
                                                                                <p class="text-danger">Expired</p>
                                                                                <% } else { %>
                                                                                    <%= expiryDate.toLocaleDateString()
                                                                                        %>
                                                                                        <% } %>
                                                                        </td>

                                                                    </tr>
                                                                    <% } %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            <form action="/applyCoupon" method="post">
                                                <% if (typeof notAvailable !=='undefined' ) { %>
                                                    <p style="color: red;"><b>
                                                            <%= notAvailable %>
                                                        </b></p>
                                                    <% } %>
                                                        <h5>
                                                            <% if (typeof success !=='undefined' ) { %>
                                                                <p
                                                                    style="color: rgb(68, 255, 0); font-family: Verdana, Geneva, Tahoma, sans-serif;">
                                                                    <b>
                                                                        <%#= success %>
                                                                    </b>
                                                                </p>
                                                                <% } %>
                                                        </h5>
                                                        <% if (typeof expired !=='undefined' ) { %>
                                                            <p style="color: red;"><b>
                                                                    <%= expired %>
                                                                </b></p>
                                                            <% } %>
                                                                <% if (typeof maxError !=='undefined' ) { %>
                                                                    <p style="color: red;"><b>
                                                                            <%= maxError %>
                                                                        </b></p>
                                                                    <% } %>

                                                                        <input class="text-dark" id="cpn"
                                                                            name="couponCode" style="padding: 4px;"
                                                                            type="text" placeholder="Coupon code">
                                                                        <button class="" id="cpnbtn"
                                                                            style="background: #2d2821c6; color: white; padding: 4px;">Apply</button>
                                            </form>
                                            
                                        </div>
                        </div>
                        <% } %>


            </div>
        </dv>
    </div>

    <div class="container-fluid " style="background-color: #fff5f5; padding: 30px; background: #fffffff8;">
        <div class="row">

            <div class="col-md-12 col-sm-12 p-2" style="border: #000000 1px solid;">
                <div class="form-group">
                    <h5 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">Delivery Address
                    </h5>

                    <% if (addressSelect?.address.length===0) { %>
                        <% if (typeof address !=='undefined' ) { %>

                            <% } %>
                                <% } else { %>
                                    <% for (let i=0; i < addressSelect?.address.length; i++) { %>

                                        <% if (addressSelect.address[i].defaultAddress==true) { %>

                                            <div
                                                style="border: solid rgb(50, 50, 49); border-radius: 6px; width: 290px; padding: 10px;">
                                                <b>Name :</b><span>
                                                    <%= addressSelect.address[i].name %>
                                                </span><br>
                                                <b>Phone :</b><span>
                                                    <%= addressSelect.address[i].phone %>
                                                </span><br>
                                                <b>Pin:</b><span>
                                                    <%= addressSelect.address[i].pin %>
                                                </span><br>
                                                <b>Address :</b><span>
                                                    <%= addressSelect.address[i].address %>
                                                </span><br>
                                                <b>District :</b><span>
                                                    <%= addressSelect.address[i].district %>
                                                </span><br>
                                                <b>City :</b><span>
                                                    <%= addressSelect.address[i].city %>
                                                </span>
                                            </div>
                                            <% } %>
                                                <% } %>
                                                    <% } %>

                                                        <% if(addressSelect?.address.length !=0){ %>
                                                            <button type="button" class="btn btn-primary bg-dark"
                                                                data-toggle="modal" data-target="#changeAddressModal"
                                                                style="margin-top: 10px; border-radius: 10px;">Change
                                                                Address</button>
                                                            <% } %>
                                                                <button type="button" class="btn bg-warning"
                                                                    style="margin-top: 10px; border-radius: 10px;"
                                                                    data-toggle="modal"
                                                                    data-target="#addAddressModal">+Add address</button>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid bg-light pb-3 pt-3 text-center ">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <section class="banner-bottom-wthreelayouts ">
                    <div class="container">
                        <div class="inner-sec-shop px-lg-4 px-3"
                            style="border: #000000 1px solid;  border-radius: 2px;">
                            <h3 class="tittle-w3layouts my-lg-4 mt-3 " style="background: #1499ff;  ">
                                PAYMENT OPTIONS</h3>

                            <div class="responsive_tabs">
                                <div id="horizontalTab">

                                    <div class="resp-tabs-container ">

                                        <div class="tab1 ">
                                            <div class="pay_info ">
                                                <div class="vertical_post check_box_agile">
                                                    <div class="checkbox ">
                                                        <div class="check_box_one cashon_delivery ">
                                                            <label class="anim ">

                                                                <% if (Subtotal.toFixed(2)>=1000) { %>
                                                                    <input type="radio" class="radio"
                                                                        name="paymentMethod" value="cod" id="cod"
                                                                        disabled>
                                                                    <label for="cod">COD</label>
                                                                    <h6 class="text-warning">Insufficient balance</h6>
                                                                    <br>
                                                                    <!-- <h6 class="text-warning">Insufficient balance for COD</h6> -->

                                                                    <% } else { %>
                                                                        <input type="radio" class="radio"
                                                                            name="paymentMethod" value="cod" id="cod">
                                                                        <label for="cod">COD</label>
                                                                        <br>
                                                                        <% } %>


                                                                            <input type="radio" class="radio"
                                                                                name="paymentMethod"
                                                                                value="onlinePayment" id="online">
                                                                            <label for="online">ONLINE PAYMANT</label>
                                                                            <br>

                                                                            <% if (walletInfo?.balance>=
                                                                                Subtotal.toFixed(2)) { %>
                                                                                <input type="radio" class="radio"
                                                                                    name="paymentMethod" value="wallet"
                                                                                    id="cod">
                                                                                <label for="cod">WALLET</label>
                                                                                <% } else { %>
                                                                                    <input type="radio" class="radio"
                                                                                        name="paymentMethod"
                                                                                        value="wallet" id="cod"
                                                                                        disabled>
                                                                                    <label for="cod">WALLET</label>
                                                                                    <h6 class="text-warning">
                                                                                        Insufficient balance</h6>
                                                                                    <!-- <h6 class="text-warning">Insufficient balance in wallet</h6> -->
                                                                                    <% } %>

                                                                                        <p id="errorMessage"
                                                                                            style="color: red;"></p>

                                                            </label>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-center mb-3">
                                                <input type="text" style="display: none;" name="totalAmount" value="">
                                                <button type="button" id="placeOrderBtn" class="btn btn-info ">
                                                    ORDER</button>

                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>


                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>





    <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAddressModalLabel">Add Address</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addressForm" action="/api/add-addressToCheckoutWay" method="post">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="name">
                            <p id="usernameError" class="error-message text-danger"></p>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" name="address">
                            <p id="addressError" class="error-message text-danger"></p>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone Number</label>
                            <input type="number" class="form-control" id="phone" name="phoneNumber">
                            <p id="phoneError" class="error-message text-danger"></p>
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" name="city">
                            <p id="cityError" class="error-message text-danger"></p>
                        </div>
                        <div class="form-group">
                            <label for="district">District</label>
                            <input type="text" class="form-control" id="district" name="district">
                            <p id="districtError" class="error-message text-danger"></p>
                        </div>
                        <div class="form-group">
                            <label for="pincode">Pincode</label>
                            <input type="number" class="form-control" id="pincode" name="pinCode">
                            <p id="pincodeError" class="error-message text-danger"></p>
                        </div>
                        <button type="submit" class="btn btn-primary">Save
                            Address</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="changeAddressModal" tabindex="-1" role="dialog"
        aria-labelledby="changeAddressModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changeAddressModalLabel">Change Address</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="background-color: #ffffff; color: #721c24;">
                    <form id="checkoutForm" action="/selectAddressFromCheckout" method="get">
                        <div class="form-group">

                            <% for(let i=0; i < addressSelect?.address.length; i++) { %>
                                <div
                                    style="border: solid rgb(194, 194, 205); border-radius: 6px; width: 320px; margin-bottom: 10px; background-color: #fff; padding: 10px;">
                                    <br>
                                    <b style="margin-left: 10px;">Name :</b><span>
                                        <%= addressSelect?.address[i].name %>
                                    </span><br>
                                    <b style="margin-left: 10px;">Phone :</b><span>
                                        <%= addressSelect?.address[i].phone %>
                                    </span><br>
                                    <b style="margin-left: 10px;">Pin :</b><span>
                                        <%= addressSelect?.address[i].pin %>
                                    </span><br>
                                    <b style="margin-left: 10px;">Address
                                        :</b><span>
                                        <%= addressSelect?.address[i].address %>
                                    </span><br>
                                    <b style="margin-left: 10px;">District
                                        :</b><span>
                                        <%= addressSelect?.address[i].district %>
                                    </span><br>
                                    <b style="margin-left: 10px;">City :</b><span>
                                        <%= addressSelect?.address[i].city %>
                                    </span><br>
                                    <input type="checkbox" name="id" value="<%= addressSelect?.address[i]._id %>"
                                        id="check_<%= i %>" style="width: 25px; height: 25px; margin-left: 10px;">
                                </div>
                                <% } %>
                        </div>
                        <button type="button" onclick="validateForm()" class="btn btn-success">Select</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-light pt-5  pb-3" id="footer">
        <div class="container bg-dark " style="padding: 30px;">
            <div class="row">
                <div class="col-md-4">
                    <a style="color: #0F0;" class="navbar-brand" href="#"><b><em>About Us</em></b></a>
                    <p>E-commerce platform</p>
                </div>
                <div class="col-md-4">
                    <a style="color: #0F0;" class="navbar-brand" href="#"><b><em>Contact Us</em></b></a>
                    <p>Email: Fonekart@gmail.com<br>Phone: 7558001145</p>
                </div>
                <div class="col-md-4">
                    <a style="color: #0F0;" class="navbar-brand" href="#"><b><em>Follow Us</em></b></a>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="text-light"
                                href="https://wa.me/qr/QLG7ZQPTHYSDH1">Watsapp</a></li>
                        <br>
                        <li class="list-inline-item"><a class="text-light"
                                href="https://www.facebook.com/siyad.siyu.37?mibextid=ZbWKwL">Facebook</a>
                        </li>
                        <br>
                        <li class="list-inline-item"><a class="text-light"
                                href="https://instagram.com/siyad___._10?igshid=OGQ5ZDc2ODk2ZA==">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


    <script>

        var modal = document.getElementById("myModal");
        var btn = document.getElementById("openModalBtn");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function () {
            modal.style.display = "block";
        }
        span.onclick = function () {
            modal.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <script>


        $(document).ready(function () {

            $('#placeOrderBtn').on('click', function () {
                var paymentMethod = $('input[name="paymentMethod"]:checked').val();
                var totalAmount = $('input[name="totalAmount"]').val();

                // Validate payment method selection
                if (!paymentMethod) {
                    $('#errorMessage').text('Please select a payment method.');
                    return;
                }


                // Make AJAX request
                $.ajax({
                    url: '/postingOrder',
                    method: 'POST',
                    data: {
                        paymentMethod: paymentMethod,
                        totalAmount: totalAmount
                    },
                    success: function (res) {
                        if (res.paymentMethod === "cod") {

                            if (res.success === true) {
                                window.location.href = res.url;
                            }

                        } else if (res.paymentMethod === "wallet") {
                            if (res.success === true) {
                                window.location.href = res.url
                            }
                        } else if (res.paymentMethod === "onlinePayment") {
                            if (res.success === true) {

                                const options = {
                                    key: res.key_id,
                                    amount: res.order.amount,
                                    currency: "INR",
                                    name: "Fonekart",
                                    description: "Test Transaction",
                                    order_id: res.order.id,
                                    callback_url: "/ordersuccefull",
                                    prefill: {
                                        name: "Siyad Kundala",
                                        email: "siyadkundala10@gmail.com",
                                        contact: "7558001145"
                                    },
                                    notes: {
                                        address: "Razorpay Corporate Office"
                                    },
                                    theme: {
                                        color: "#3399cc"
                                    }
                                };

                                const rzp1 = new Razorpay(options)
                                rzp1.open();
                            } else {

                                console.error("Order creation failed:", res.error);
                            }
                        }
                    },
                    error: function (xhr, status, error) {

                        console.error(error);
                    }
                });
            });
        });
    </script>

    <script>
        document.getElementById('removeCouponButton').addEventListener('click', function () {
            // Refresh the page
            location.reload();
        });
    </script>

    <script>
        function validateForm() {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            var checkedCount = 0;

            checkboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    checkedCount++;
                }
            });

            if (checkedCount !== 1) {
                alert("Please select exactly one address.");
                return false; // Prevent form submission
            }

            document.getElementById("checkoutForm").submit(); // Submit the form
        }

        document.getElementById("addressForm").onsubmit = function (event) {
            var username = document.getElementById("username").value.trim();
            var address = document.getElementById("address").value.trim();
            var phone = document.getElementById("phone").value.trim();
            var city = document.getElementById("city").value.trim();
            var district = document.getElementById("district").value.trim();
            var pincode = document.getElementById("pincode").value.trim();
            var isValid = true;

            if (username === "") {
                document.getElementById("usernameError").innerText = "Please enter a username.";
                isValid = false;
            } else {
                document.getElementById("usernameError").innerText = "";
            }

            if (address === "") {
                document.getElementById("addressError").innerText = "Please enter an address.";
                isValid = false;
            } else {
                document.getElementById("addressError").innerText = "";
            }

            if (phone === "") {
                document.getElementById("phoneError").innerText = "Please enter a phone number.";
                isValid = false;
            } else {
                document.getElementById("phoneError").innerText = "";
            }

            if (city === "") {
                document.getElementById("cityError").innerText = "Please enter a city.";
                isValid = false;
            } else {
                document.getElementById("cityError").innerText = "";
            }

            if (district === "") {
                document.getElementById("districtError").innerText = "Please enter a district.";
                isValid = false;
            } else {
                document.getElementById("districtError").innerText = "";
            }

            if (pincode === "") {
                document.getElementById("pincodeError").innerText = "Please enter a pincode.";
                isValid = false;
            } else {
                document.getElementById("pincodeError").innerText = "";
            }

            if (!isValid) {
                event.preventDefault();
            }

            return isValid;
        };

    </script>


</body>

</html>