<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

	<!-- My CSS -->
	<link rel="stylesheet" href="css/adminhome.css">

	<style>
		tr:hover {
			background-color: #f5f5f5;
		}

		.btn-primary:hover {
			background-color: #0056b3;
		}

		.btn-danger:hover {
			background-color: #c82333;
		}

		.btn-info:hover {
			background-color: #117a8b;
		}

		.pagination-container {
			margin-top: 20px;
			text-align: center;
		}

		.pagination-link {
			display: inline-block;
			margin-right: 5px;
			padding: 8px;
			background-color: #d7c2c2;
			border: 1px solid rgb(255, 0, 51);
			color: #000;
			/* Change text color to improve readability */
			text-decoration: none;
			/* Remove underline from links */
		}

		.pagination-link:hover {
			background-color: #ffffff;
			/* Change background color on hover */
			color: #000000;
			/* Change text color on hover */
		}
	</style>

	<title>AdminHub</title>
</head>

<body>

	<!-- SIDEBAR -->
	<section id="sidebar" style="background-color: white;">
		<!-- <a href="#" class="brand" style="margin-left: 70px;"> -->
		<!-- <i class='bx bxs-smile'></i> -->
		<!-- <span class="text">Fonekart</span> -->
		<!-- </a> -->
		<h1 style="margin-left: 45px; margin-top: 20px; font-size: 45px;">Fonekart</h1>
		<ul class="side-menu top">
			<li>
				<a href="/adminhome">
					<i class='bx bxs-dashboard'></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/product_management">
					<i class='bx bxs-shopping-bag-alt'></i>
					<span class="text">Product Management</span>
				</a>
			</li>
			<li>
				<a href="/User_management">
					<i class='bx bxs-doughnut-chart'></i>
					<span class="text">User Management</span>
				</a>
			</li>
			<li>
				<a href="/Order_management">
					<i class='bx bxs-message-dots'></i>
					<span class="text">Order Management</span>
				</a>
			</li>
			<li>
				<a href="/Categary_management">
					<i class='bx bxs-group'></i>
					<span class="text">Categary Management</span>
				</a>
			</li>
			<li class="active">
				<a href="/Coupon_management">
					<i class='bx bxs-group'></i>
					<span class="text">Coupon Management</span>
				</a>
			</li>
			<li>
				<a href="/Offer_management">
					<i class='bx bxs-group'></i>
					<span class="text">Offer_Management</span>
				</a>
			</li>
			<li>
				<a href="/refferalOffer">
					<i class='bx bxs-group'></i>
					<span class="text">Refferal_Offer</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">

			<li>
				<a href="/adminlogin" class="logout">
					<i class='bx bxs-log-out-circle'></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>


	<h1 style="margin-left: 310px;margin-top: 20px; margin-bottom: 20px; color: rgb(35, 34, 43);">COUPON MANAGEMENT</h1>
	<section id="main-content" style="margin-left: 300px;     width: 1150px;">

		<div>
			<a href="/addCoupon"><button class="btn btn-primary" style="border: none;
            padding: 10px 20px; background-color: #007bff;
            color: #fff;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s;" id="add-coupon-btn">Add Coupon</button></a>

		</div>
		<table style=" width: 100%;
		border-collapse: collapse;
		margin-top: 20px; ">
			<thead>
				<tr>
					<th style=" padding: 15px;
            text-align: left;   background-color: #e03636;
            color: #ffffff;
            border-bottom: 1px solid #ddd;">Coupon Code</th>
					<th style=" padding: 15px;
            text-align: left;   background-color: #e03636;
            color: #ffffff;
            border-bottom: 1px solid #ddd;">Discount</th>
					<th style=" padding: 15px;
            text-align: left;   background-color: #e03636;
            color: #ffffff;
            border-bottom: 1px solid #ddd;">Created Date</th>
					<th style=" padding: 15px;
            text-align: left;   background-color: #e03636;
            color: #ffffff;
            border-bottom: 1px solid #ddd;">Expiry Date</th>
					<!-- <th style=" padding: 15px;
            text-align: left;   background-color: #e03636;
            color: #ffffff;
            border-bottom: 1px solid #ddd;">Max Use</th> -->
					<th style=" padding: 15px;
            text-align: left;   background-color: #e03636;
            color: #ffffff;
            border-bottom: 1px solid #ddd;">Max Price</th>
					<th style=" padding: 15px;
            text-align: left;   background-color: #e03636;
            color: #ffffff;
            border-bottom: 1px solid #ddd;">Status</th>
					<th style=" padding: 15px;
            text-align: left;   background-color: #e03636;
            color: #ffffff;
            border-bottom: 1px solid #ddd;">Actions</th>
				</tr>
			</thead>
			<tbody>
				<% if(typeof coupons !=='undefined' ){ %>
					<% for (let i=0; i < coupons.length; i++){ %>
						<tr>
							<td style=" padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;">
								<%= coupons[i].Code %>
							</td>
							<td style=" padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;">
								<%= coupons[i].Discount %>%
							</td>
							<td style=" padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;">
								<%= new Date(coupons[i].createdDate).toLocaleDateString() %>
							</td>
							<td style=" padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;">
								<%= new Date(coupons[i].expiryDate).toLocaleDateString() %>
							</td>
							<!-- <td style=" padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;">
								<%#= coupons[i].Maxuse %>
							</td> -->
							<td style=" padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;">
								<%= coupons[i].MaxPrice %>
							</td>
							<% if(coupons[i].status===true) { %>
								<td style="color: green;">
									<h3>Active</h3>
								</td>
								<% } else { %>
									<td style="color: #c82333;">
										<h3>Expired</h3>
									</td>
									<% } %>
										</td>




										<td style=" padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;">
											<a href="/EditCoupon?id=<%= coupons[i]._id %>"><button style="border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px; background-color: #17a2b8;
            color: #fff;
            transition: background-color 0.3s;" class="btn btn-info"><i class="bx bxs-edit"></i></button></a>
											<button onclick="confirmDelete('<%= coupons[i]._id %>');" style="border: none;
												padding: 10px 20px;
												cursor: pointer;
												border-radius: 5px; background-color: #dc3545;
												color: #fff;
												transition: background-color 0.3s;" class="btn btn-danger">
												<i class="bx bxs-trash"></i>
											</button>

										</td>
						</tr>
						<% } %>
							<% } %>
			</tbody>
		</table>

	</section>
	<!-- Pagination -->
	<div class="pagination-container" style="margin-top: 20px; margin-left: 400px; text-align: center;">
		<% if (totalPages) { %>
			<% for (let page=1; page <=totalPages; page++) { %>
				<a style="margin-right: 5px; background-color: #d7c2c2; padding: 8px; border:rgb(255, 0, 51) 1px solid;"
					href="/Coupon_management?page=<%= page %>" class="pagination-link">
					<%= page %>
				</a>
				<% } %>
					<% } %>
	</div>
	<!-- End Pagination -->




	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		function confirmDelete(couponId) {
			Swal.fire({
				title: 'Are you sure?',
				text: "You won't be able to revert this!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#dc3545',
				cancelButtonColor: '#6c757d',
				confirmButtonText: 'Yes, delete it!'
			}).then((result) => {
				if (result.isConfirmed) {
					// Redirect to delete route with coupon ID
					window.location.href = "/deleteCoupon?id=" + couponId;
				}
			});
		}
	</script>
	<script src="js/adminhome.js"></script>
</body>

</html>