<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fonekart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #3c3b3b27;
            margin: 0;
            padding: 0;
            border-color: black;
        }

        .container {
            width: 50%;
            margin: 50px auto;
            background-color: #fff;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input,
        select {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        #btn {
            background-color: #4caf50;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }

        #btn:hover {
            background-color: #45a049;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top p-3">
        <a style="color: #0F0;" class="navbar-brand" href="/product_management"><b><em>Fonekart</em></b></a>
    </nav>

    <div class="container" style="margin-top: 85px;">
        <!-- <a href="/product_management"><button>Back</button></a> -->
        <h2 style="color: rgb(0, 157, 255);"><em>Edit Product</em></h2>
        <form style="margin-bottom: 20px;" action="/api/submitEdit_product?id=<%= editProduct._id %>" method="post"
            enctype="multipart/form-data" onsubmit="addproduct(); return false;">
            <label for="productName">Product Name:</label>
            <input value="<%= editProduct.Pname %>" type="text" id="productName" name="productName">
            <p style="color: #f65f5f;" id="pn"></p>

            <label for="categoryName">Category Name</label>
            <select class="form-control" name="categoryName" id="categoryName" value="<%= categorydata.category %>">
                <% for(let i=0;i<categorydata.length;i++) {%>

                    <option>
                        <%= categorydata[i].category %>
                    </option>

                    <% } %>

            </select>


            <!-- <label for="categoryName">Category Name:</label>
            <input value="<%#= editProduct.Pcategory %>" type="text" id="categoryName" name="categoryName" required> -->

            <!-- <label for="productDescription">Product Description:</label>
            <textarea id="productDescription" name="productDescription" rows="4" required></textarea> -->

            <label for="productModel">Product Model:</label>
            <input value="<%= editProduct.Pmodel %>" type="text" id="productModel" name="productModel">
            <p style="color: #f65f5f;" id="pm"></p>

            <label for="price">Price:</label>
            <input value="<%= editProduct.price %>" type="number" id="price" name="price" step="0.01">
            <p style="color: #f65f5f;" id="pr"></p>

            <label for="color">Color:</label>
            <input value="<%= editProduct.color %>" type="text" id="color" name="color">
            <p style="color: #f65f5f;" id="clr"></p>

            <label for="unit">Quantity:</label>
            <input value="<%= editProduct.quantity %>" type="text" id="unit" name="Quantity">
            <p style="color: #f65f5f;" id="qnt"></p>

            <label for="image">Image:</label>
            <input value="<%= editProduct.images %>" type="file" id="image" name="file" multiple>
            <p style="color: #f65f5f;" id="img"></p>

            <button id="btn" type="submit">Submit</button>
        </form>
        <% for (let i = 0; i < editProduct.images.length; i++) { %>
            <div style="padding: 10px;">
                <img style="width: 80px;" src="<%= editProduct.images[i] %>" alt="">
                <button onclick="deleteImage('<%= editProduct.images[i] %>')" style="width: 70px;">Delete</button>
            </div>
        <% } %>
    </div>


    
    
    <script>
        function deleteImage(imageUrl) {
            fetch(`/imageDeleteSeperate?image=${encodeURIComponent(imageUrl)}`, {
                method: 'GET'
            })
            .then(response => {
                if (response.ok) {
                    // Image deleted successfully, remove it from the DOM
                    const imageContainer = document.querySelector(`img[src="${imageUrl}"]`).parentElement;
                    imageContainer.remove();
                } else {
                    // Handle error response
                    console.error('Failed to delete image:', response.statusText);
                }
            })
            .catch(error => {
                console.error('Error deleting image:', error);
            });
        }
    </script>

    <script>
        function addproduct() {

            const pmodel = document.getElementById('productModel').value
            const pprice = document.getElementById('price').value
            const pcolor = document.getElementById('color').value
            const punit = document.getElementById('unit').value
            
            const pname = document.getElementById('productName').value

            const pmErr = document.getElementById('pm')
            const prErr = document.getElementById('pr')
            const clrErr = document.getElementById('clr')
            const uniErr = document.getElementById('qnt')
           
            const pnErr = document.getElementById('pn')


            const pmErrmsg = []
            const prErrmsg = []
            const clrErrmsg = []
            const uniErrmsg = []
           
            const pnErrmsg = []

            if (pname.trim() === "") {
                pnErrmsg.push("This feild is required")
            }

            if (pmodel.trim() === "") {
                pmErrmsg.push("This feild is required")
            }

            if (pprice.trim() === "") {
                prErrmsg.push("This feild is required")
            }

            if (pprice < 0) {
                prErrmsg.push("Negative value not allowed")
            }
            

            if (punit.trim() === "") {
                uniErrmsg.push("This feild is required")
            }
            if (punit < 0) {
                uniErrmsg.push("Negative value not allowed")
            }

            if (punit == 0) {
                uniErrmsg.push("Zero not allowed")
            }

            

            if (pcolor.trim() === "") {
                clrErrmsg.push("This feild is required")
            }

            pmErr.innerHTML = pmErrmsg.join(". ")
            prErr.innerHTML = prErrmsg.join(". ")
            clrErr.innerHTML = clrErrmsg.join(". ")
            uniErr.innerHTML = uniErrmsg.join(". ")
            
            pnErr.innerHTML = pnErrmsg.join(". ")


            if (pmErrmsg.length === 0 && prErrmsg.length === 0 && clrErrmsg.length === 0 && uniErrmsg.length === 0 &&  pnErrmsg.length === 0) {
                form.submit()
            }

        }
    </script>

</body>

</html>